
.c {
  width: calc(100% - 2rem);
  padding: 0 1rem;
  color: white;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left, .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.icon {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: .5rem;
}

.share {
  margin-left: .5rem;
  padding-left: .5rem;
  border-left: 1px solid #fff;
}

.btn-menu {
  background: transparent;
  color: #fff;
  border: .1rem solid ;
  padding: .2rem 1.34rem;
  border-radius: .3rem;
}

img.music {
  margin-right: 1.6rem;
  width: 1.4rem;
}

/* 豆瓣引用icon的方式,除了url是base64这一不同 */
[class*=icon-] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon-doulist:before {
    background-image: url(./menu_icon.svg);
}

[class*=icon-]:before {
    width: 1em;
    height: 1em;
    margin-right: .5em;
    content: '';
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

